html,
body {
  height: 100%;
}

body {
  min-width: 350px;
  font-size: 1rem;
  line-height: 130%;
  font-family: $font-family;
  font-weight: 400;
  color: $the-darkest-gray;
}

a {
  color: $light-color;
  transition: all ease-in 0.5s;
  &:link {
    color: $light-color;
  }
  &:visited {
    color: $light-color;
  }
  &:hover {
    background: $brand-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $brand-color;
  }
  &:active {
    color: $light-color;
  }
}
* {
  min-width: 0;
  min-height: 0;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 0 0 auto;
  background-color: $dark-color;
  &__inner {
    display: flex;
    align-items: center;
    margin: 0.875em 0;
  }
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}

.button {
  font-weight: 500;
  line-height: 1.4;
  color: $light-color;
  text-transform: uppercase;
  text-align: center;
  padding: 1em 6.0625em;
  border-radius: 1.5625em;
  border: none;
  outline: none;
  background: $brand-gradient;
  transition: all 0.3s ease-out;
  cursor: pointer;
  &:hover {
    background: linear-gradient($brand-color 0%, $brand-color 100%);
  }
  &:active {
    background: linear-gradient($active-color 0%, $active-color 100%);
  }
  &_disabled {
    background: linear-gradient($darker-main-gray 0%, $darker-main-gray 100%);
  }
}

.title {
  color: inherit;
  font-weight: 400;
  line-height: 120%;
  &_2 {
    font-size: 3rem;
  }
  &_4 {
    font-size: 1.5rem;
  }
  &_5 {
    font-size: 1rem;
    font-weight: 500;
    line-height: 140%;
    text-transform: uppercase;
  }
}
