html,
body {
  height: 100%;
}

body {
  min-width: 350px;
  font-family: $font-family;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 0 0 auto;
  background-color: $dark-color;
  &__inner {
    display: flex;
    align-items: center;
    margin: 0.875em 0;
  }
}

.main {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
