html,
body {
  height: 100%;
  font-size: 1rem;
}

body {
  min-width: 350px;
  font-family: $font-family;
}

a {
  color: $light-color;
  transition: all ease-in 0.5s;
  &:link {
    color: $light-color;
  }
  &:visited {
    color: $light-color;
  }
  &:hover {
    background: $brand-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $brand-color;
  }
  &:active {
    color: $light-color;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.header {
  flex: 0 0 auto;
  background-color: $dark-color;
  &__inner {
    display: flex;
    align-items: center;
    margin: 0.875em 0;
  }
}

.main {
  flex: 1 0 auto;
  background-image: url("@assets/images/giant-panda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 630px) {
    background-image: url("@assets/images/giant-panda-small.jpg");
  }
  @media (min-width: 970px) {
    background-image: url("@assets/images/giant-panda-medium.jpg");
  }
  @media (min-width: 1690px) {
    background-image: url("@assets/images/giant-panda-big.jpg");
  }
}
.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 15px;
}
