@import "~normalize.css";
@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";
@import "global.scss";

.logo {
  flex: 0 0 auto;
  font-size: 0px;
  line-height: 0;
  + nav {
    margin-left: 3.9375em;
  }
}

.nav {
  flex: 1 0 auto;
  font-size: 1em;
  font-weight: 500;
  line-height: 140%;
  &__list {
    display: flex;
    > li + li {
      margin-left: 3.625em;
    }
    :last-child {
      margin-left: auto;
      > a::after {
        content: " \00A9";
      }
    }
  }
  &__link_active {
    background: $brand-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $brand-color;
    &:link,
    &:visited,
    &:hover {
      background: $brand-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $brand-color;
    }
  }
}

.lending {
  background-image: url("@assets/images/giant-panda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 630px) {
    background-image: url("@assets/images/giant-panda-small.jpg");
  }
  @media (min-width: 970px) {
    background-image: url("@assets/images/giant-panda-medium.jpg");
  }
  @media (min-width: 1690px) {
    background-image: url("@assets/images/giant-panda-big.jpg");
  }
  &__inner {
    padding: 5.375rem 0 6.25rem;
  }
  &__button {
    display: block;
    margin-left: auto;
    margin-right: 5em;
  }
}

.catchy-title {
  max-width: 500px;
  min-width: 128.13px;
  margin-left: auto;
  margin-bottom: 0.56em;
  font-size: 6.66em;
  font-weight: 700;
  line-height: 0.75em;
  text-transform: uppercase;
  color: $light-color;
  text-align: center;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    width: 39vw;
    max-width: 29rem;
    height: 39vw;
    max-height: 29rem;
    border-radius: 50%;
    background: $brand-gradient;
    top: -17%;
    left: -16%;
    z-index: -10;
  }
  span {
    color: $emphasis-color;
  }
}

.project-description {
  background: url("@assets/images/flower-01.png") top right no-repeat,
    url("@assets/images/flower-02.png") bottom left no-repeat,
    url("@assets/images/flower-03.png") bottom right no-repeat;
  padding: 8.75rem 0 6.25rem;
  display: flex;
  flex-direction: column;
  > * + * {
    margin-top: 11.25em;
  }
  @media (min-width: 630px) {
    background: url("@assets/images/flower-01-small.png") top right no-repeat,
      url("@assets/images/flower-02-small.png") bottom left no-repeat,
      url("@assets/images/flower-03-small.png") bottom right no-repeat;
  }
  @media (min-width: 970px) {
    background: url("@assets/images/flower-01-medium.png") top right no-repeat,
      url("@assets/images/flower-02-medium.png") bottom left no-repeat,
      url("@assets/images/flower-03-small.png") bottom right no-repeat;
  }
  @media (min-width: 1690px) {
    background: url("@assets/images/flower-01-big.png") top right no-repeat,
      url("@assets/images/flower-02-big.png") bottom left no-repeat,
      url("@assets/images/flower-03-small.png") bottom right no-repeat;
  }
}

.hiw-description__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 7.5%;
  grid-auto-flow: dense;
}

.hiw-description__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
