@import "~normalize.css";
@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";
@import "global.scss";

.logo {
  flex: 0 0 auto;
  + nav {
    margin-left: 3.9375em;
  }
}

.nav {
  flex: 1 0 auto;
  font-size: 1em;
  font-weight: 500;
  line-height: 140%;
  &__list {
    display: flex;
    > li + li {
      margin-left: 3.625em;
    }
    :last-child {
      margin-left: auto;
      > a::after {
        content: " \00A9";
      }
    }
  }
}
