@import "~normalize.css";
@import "reset.scss";
@import "fonts.scss";
@import "vars.scss";
@import "global.scss";

.logo {
  flex: 0 0 auto;
  font-size: 0px;
  line-height: 0;
  + nav {
    margin-left: 3.9375em;
  }
}

.nav {
  flex: 1 0 auto;
  font-size: 1em;
  font-weight: 500;
  line-height: 140%;
  &__list {
    display: flex;
    > li + li {
      margin-left: 3.625em;
    }
    :last-child {
      margin-left: auto;
      > a::after {
        content: " \00A9";
      }
    }
  }
  &__link_active {
    background: $brand-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: $brand-color;
    &:link,
    &:visited,
    &:hover {
      background: $brand-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      color: $brand-color;
    }
  }
}

.lending {
  background-image: url("@assets/images/giant-panda.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  @media (min-width: 630px) {
    background-image: url("@assets/images/giant-panda-small.jpg");
  }
  @media (min-width: 970px) {
    background-image: url("@assets/images/giant-panda-medium.jpg");
  }
  @media (min-width: 1690px) {
    background-image: url("@assets/images/giant-panda-big.jpg");
  }
  &__inner {
    padding: 5.375rem 0 6.25rem;
  }
}

.catchy-title {
  max-width: 500px;
  margin-left: auto;
  margin-bottom: 0.56em;
  font-size: 6.6563em;
  font-weight: 700;
  line-height: 0.75em;
  text-transform: uppercase;
  color: $light-color;
  text-align: center;
  position: relative;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    width: 39vw;
    max-width: 29rem;
    height: 39vw;
    max-height: 29rem;
    border-radius: 50%;
    background: $brand-gradient;
    top: -21%;
    left: -16%;
    z-index: -10;
  }
  span {
    color: $emphasis-color;
  }
}
