mixin slide(className, slide)
    .slide
        .container
            .slide__inner
                each card in slide
                    - let img = card.img, title = card.title, description = card.description, icon = card.icon;
                    +card(img, title, description, icon)
