mixin slide(className, slide)
    .slide
        .container
            .slide__inner
                each card in slide
                    +card(card.img, card.title, card.description, card.icon, card.location)
