mixin social-list(networks)
    ul.social
        each network in networks
            li.social__item
                a.social__link(href= network.src)
                    if network.network === "facebook"
                        span.social__icon-wrapper
                            i(class=`social__icon fa-brands fa-${network.network}-f`)
                        = network.name
                    else
                        span.social__icon-wrapper
                            i(class=`fa-brands fa-${network.network} social__icon`)
                        = network.name