head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Petstory online
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(href="../assets/fonts/fontawesome-free-6.2.0-web/css/fontawesome.css" rel="stylesheet")
    link(href="../assets/fonts/fontawesome-free-6.2.0-web/css/brands.css" rel="stylesheet")
    link(href="../assets/fonts/fontawesome-free-6.2.0-web/css/solid.css" rel="stylesheet")