nav.nav
    ul.nav__list
        li
            a(href="/") About
        li
            a(href="/map") Map
        li
            a(href="/zoos") Zoos
        li
            a(href="/donate") Donate
        li
            a(href="/contacts") Contact us
        li.right-item
            a(href="/") Designed by &#169;
