include libs/_libs

-
    let slides = [
        [    
            {
                img: "giant-pandas.jpg", 
                title: "Giant pandas", 
                description: "Native to Southwest China", 
                icon: "vegetables-icon.svg"
            },
            {
                img: "eagle.jpg", 
                title: "Eagles", 
                description: "Native to SouthAmerica", 
                icon: "meat-icon.svg"
            },
            {
                img: "gorillas.jpg", 
                title: "Gorillas", 
                description: "Native to Congo", 
                icon: "vegetables-icon.svg"
            },
            {
                img: "sloth.jpg", 
                title: "Two-toed sloth", 
                description: "Native to Mesoamerica, South America", 
                icon: "vegetables-icon.svg"
            },
            {
                img: "cheetahs.jpg", 
                title: "Cheetahs", 
                description: "Native to Africa", 
                icon: "meat-icon.svg"
            },
            {
                img: "penguins.jpg", 
                title: "Penguins", 
                description: "Native to Antarctica", 
                icon: "meat-icon.svg"
            },
        ],
        [
            {
                img: "eagle.jpg", 
                title: "Eagles", 
                description: "Native to SouthAmerica", 
                icon: "meat-icon.svg"
            },
            {
                img: "gorillas.jpg", 
                title: "Gorillas", 
                description: "Native to Congo", 
                icon: "vegetables-icon.svg"
            },
            {
                img: "giant-pandas.jpg", 
                title: "Giant pandas", 
                description: "Native to Southwest China", 
                icon: "vegetables-icon.svg"
            },
            {
                img: "cheetahs.jpg", 
                title: "Cheetahs", 
                description: "Native to Africa", 
                icon: "meat-icon.svg"
            },
            {
                img: "sloth.jpg", 
                title: "Two-toed sloth", 
                description: "Native to Mesoamerica, South America", 
                icon: "vegetables-icon.svg"
            },
            {
                img: "penguins.jpg", 
                title: "Penguins", 
                description: "Native to Antarctica", 
                icon: "meat-icon.svg"
            },
        ]
    ];

.slider
    each slide in slides
        +slide("slide", slide)