include pug/libs/_libs

- let links={"About": "/","Map": "/map","Zoos": "/zoos","Donate": "/donate","Contact us": "/contacts","Designed by": "https://www.figma.com/"};

doctype html
include pug/_head
.wrapper
  header.header 
    .container
      .header__inner
        h1.logo PetStory Online
          a(href="/")
            +picture("logo__img", "logo", "png")
        +nav(links, "About")
  main.main
    section.lending
      .container
        .lending__inner
          h2.catchy-title Watch your <span>favorite</span> animal online
          button.button.lending__button Watch online
    section.project-description
      .hiw-description
        .container
          .hiw-description__inner
            +picture("hiw-description__img", "human-photo", "jpg")
            .hiw-description__content
              h2.title.title_2 The Backstage of the Wilderness World
              p The site was founded on the basis of a volunteer movement to protect and care for animals.
              h4.title.title_4 How it works
              p
                |The main goal is to help the animals, as well as the nature reserves and zoos where they 
                |are kept. We are currently working on video projects targeting pandas in China, eagles on 
                |an island near Los Angeles, alligators in Florida and gorillas in the Congo. These have a 
                |total of more than 1,500 mammals and reptiles.
      include pug/_slider
  footer.footer

