include pug/libs/_libs

doctype html
include pug/_head
.wrapper
  header.header 
    .container
      .header__inner
        h1.logo
          a(href="/")
            +picture('logo__img', 'logo')
        include pug/_nav.pug
  main.main
  footer.footer

