include pug/libs/_libs

- let array={"About": "/","Map": "/map","Zoos": "/zoos","Donate": "/donate","Contact us": "/contacts","Designed by": "/"};

doctype html
include pug/_head
.wrapper
  header.header 
    .container
      .header__inner
        h1.logo
          a(href="/")
            +picture('logo__img', 'logo')
        +nav(array, "About")
  main.main
  footer.footer

