include pug/libs/_libs

-
  let links=[
    {
      link: "About",
      src: "/"
    },
    {
      link: "Map",
      src: "/map"
    },
    {
      link: "Zoos",
      src: "/zoos"
    },
    {
      link: "Donate",
      src: "/donate"
    },
    {
      link: "Contact us",
      src: "/contacts"
    },
  ];

doctype html
include pug/_head
.wrapper
  header.header 
    .container
      .header__inner
        h1.logo PetStory Online
          a(href="/")
            +picture("logo__img", "logo", "png")
        +nav(links, "About")
        a.copy(href="https://www.figma.com/") Designed by
  main.main
    section.lending
      .container
        .lending__inner
          h2.catchy-title Watch your <span>favorite</span> animal online
          button.button.lending__button Watch online
    section.project-description
      .hiw-description
        .container
          .hiw-description__inner
            +picture("hiw-description__img", "human-photo", "jpg")
            .hiw-description__content
              h2.title.title_2 The Backstage of the Wilderness World
              p The site was founded on the basis of a volunteer movement to protect and care for animals.
              h4.title.title_4 How it works
              p
                |The main goal is to help the animals, as well as the nature reserves and zoos where they 
                |are kept. We are currently working on video projects targeting pandas in China, eagles on 
                |an island near Los Angeles, alligators in Florida and gorillas in the Congo. These have a 
                |total of more than 1,500 mammals and reptiles.
      include pug/_slider
      button.button Choose your favorite
    section.feeding
      .container
        .feeding__inner
          h2.title.title_2 Pick and feed a friend
          .feeding__content
            p.feeding__first-block We know the animals bring you joy, and in these extraordinary times, we&#700;re glad.
            p.feeding__second-block
              |During a time when the COVID-19 epidemic is touching all of our lives, we&#700;re proud and glad 
              |that people around the world find joy in PetStory.
            p.feeding__third-block
              |Even though the zoo has reopened, we need you now more than ever to help us deal with these 
              |problems. Please consider a gift to our 
              a(href="/") Emergency Support Fund
              |.
          .schema
            h3.title.title_3 How it works
            ul.schema__list
              -
                let images = [
                  {
                    img: "pay-icon.svg", 
                    text: "Pay with card"
                  }, 
                  {
                    img: "payment-zoo-icon.svg", 
                    text: "Payment goes to the zoo"
                  },
                  {
                    img: "feed-animal-icon.svg", 
                    text: "Your favourite animal gets delicious dish"
                  }
                ];
              each img in images
                li.schema__item
                  +img-module(img.img, img.text)
          button.button Feed a friend now
    section.testimonials
      .container
        .testimonials__inner
          h3.title.title_3 Testimonials
          .swiper.testimonials-slider
            .swiper-wrapper
              -
                let rewiews = [
                  {
                    img: null,
                    name: "Michael John",
                    local: "Austria",
                    lastVisit: "Today",
                    rewiew: "The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                  {
                    img: "user-1.jpg",
                    name: "Oskar Samborsky",
                    local: "Austria",
                    lastVisit: "Yesterday",
                    rewiew: "Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                  {
                    img: "user-2.jpg",
                    name: "Fredericka Michelin",
                    local: "Austria",
                    lastVisit: "Yesterday",
                    rewiew: "The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                  {
                    img: "user-3.jpg",
                    name: "Mila Riksha",
                    local: "Austria",
                    lastVisit: "Yesterday",
                    rewiew: "My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                  {
                    img: null,
                    name: "Michael John",
                    local: "Austria",
                    lastVisit: "Today",
                    rewiew: "The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                    {
                    img: "user-3.jpg",
                    name: "Mila Riksha",
                    local: "Austria",
                    lastVisit: "Yesterday",
                    rewiew: "My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                    {
                    img: null,
                    name: "Michael John",
                    local: "Austria",
                    lastVisit: "Today",
                    rewiew: "The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                  {
                    img: "user-1.jpg",
                    name: "Oskar Samborsky",
                    local: "Austria",
                    lastVisit: "Yesterday",
                    rewiew: "Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                  {
                    img: "user-2.jpg",
                    name: "Fredericka Michelin",
                    local: "Austria",
                    lastVisit: "Yesterday",
                    rewiew: "The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals.The best online zoo I’ve met. My son delighted very much ljves to watch gouillas. Online zoo is one jf the ways to instill a love for animals."
                  },
                ]
              each rewiew in rewiews
                +swiper-slide(rewiew)
            .swiper-scrollbar
          button.button.button_alter Leave feedback
  footer.footer
    .container
      .footer__inner
        .section.section_1
          p.logo PetStory Online
            a(href="/")
              +picture("logo__img", "logo", "png")
          button.button.button_alter Donate for volunteers
          -
            let networks = [
              {
                network: "facebook",
                name: "Facebook",
                src: "www.facebook.com",
                icon: "facebook-icon.svg",
              },
              {
                network: "twitter",
                name: "Twitter",
                src: "www.twitter.com",
                icon: "twitter-icon.svg",
              },
              {
                network: "instagram",
                name: "Instagram",
                src: "www.instagram.com",
                icon: "instagram-icon.svg",
              },
              {
                network: "youtube",
                name: "YouTube",
                src: "www.youtube.com",
                icon: "youtube-icon.svg",
              },
            ]; 
          +social-list(networks)
        .section.section_2
          -
            links = [
              {
                link: "About",
                src: "/"
              },
              {
                link: "Map",
                src: "/map"
              },
              {
                link: "Zoos",
                src: "/zoos"
              },
              {
                link: "Contact us",
                src: "/contacts"
              },
            ];
          +nav(links, "About")
        .section.section_3
          form.form
            h4.title.title_4 Subscribe to our news
            input#form__email(class="form__email" type="email" name="form__email")
            button Submit
          .site-info
            p Designed by Alisa Samborskaya &#169;RSSchool &#38; &#169;Yem Digital 2021